<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxuan66.ecmc.modules.lp.mapper.PapLogMapper">


    <resultMap type="com.yuxuan66.ecmc.modules.lp.entity.PAPLog" id="papLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="account_id" property="accountId"/>
        <result column="pap" property="pap"/>
        <result column="character_name" property="characterName"/>
        <result column="fleet_id" property="fleetId"/>
        <result column="content" property="content"/>
        <result column="create_time" property="createTime"/>
        <result column="create_id" property="createId"/>
        <result column="create_by" property="createBy"/>


        <association property="userAccount" javaType="com.yuxuan66.ecmc.modules.account.entity.UserAccount">
            <id column="account_id" property="id"/>
            <result column="character_id" property="characterId"/>
            <result column="character_name" property="characterName"/>
            <result column="corp_id" property="corpId"/>
            <result column="corp_name" property="corpName"/>
            <result column="alliance_id" property="allianceId"/>
            <result column="alliance_name" property="allianceName"/>
        </association>

    </resultMap>

<!--    <select id="selectPapLog" resultMap="papLog">-->
<!--        select * from corp_pap_log srp left join corp_user_account cua on srp.account_id = cua.id-->
<!--        <where>-->
<!--            <if test="query.blurry != null and query.blurry != ''">-->
<!--                and (srp.character_name like concat('%',#{query.blurry},'%') or srp.content like concat('%',#{query.blurry},'%') )-->
<!--            </if>-->
<!--            <if test="query.account_id != null">-->
<!--                and srp.account_id = #{query.accountId}-->
<!--            </if>-->
<!--            <if test="query.userId != null">-->
<!--                and srp.user_id = #{query.userId}-->
<!--            </if>-->
<!--        </where>-->
<!--        order by srp.create_time desc-->
<!--    </select>-->

    <!-- 批量插入 -->
    <insert id="batchPAPInsert">
        INSERT INTO corp_pap_log VALUES
        <foreach collection="papLogList" item="item" separator=",">
            (null,#{item.userId},#{item.accountId},#{item.characterName},#{item.fleetId},#{item.pap},
            #{item.content},#{item.createBy},#{item.createId},#{item.createTime},null,null,null)
        </foreach>
    </insert>

    <update id="cleanAlliencePap">
        update corp_pap_log set pap = 0 where content='联盟PAP'
    </update>
</mapper>
